<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57284625-1', 'auto');
			ga('send', 'pageview');

		</script>			
		
	</head>
	<body>
		<div class="container">
			<h3><a href="/upload_sunday_service">Upload Sunday Service</a></h3>
			<p />
			<h3>Remove Sunday Service (Not completed)</h3>
			<ul>
				<li><a href="/remove_sunday_service/English">English</a></li>
				<li><a href="/remove_sunday_service/Cantonese">Cantonese</a></li>
				<li><a href="/remove_sunday_service/Mandarin">Mandarin</a></li>
			</ul>
			<p />
		</div>
		

	</body>
</html>
