<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta charset="UTF-8" />

		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57284625-1', 'auto');
			ga('send', 'pageview');

		</script>			

		<script type="text/javascript">
			window.console.log(navigator.userAgent);
			if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/android/i)) || (navigator.userAgent.match(/Palm/i))) {
		    window.location = "/mobile/";
			}
		</script>

	</head>
	<body>
		<div class="container">
			<div class="jumbotron">

				<h2>Welcome to Calgary Chinese Alliance Church!</h2>
				<h2>歡迎來到卡城華人宣道會!</h2>

				<br />

				<div class="center btn-group btn-group-lg">
					<a class="btn btn-default btn-primary" href="/eng/">English</a>
					<a class="btn btn-default btn-primary" href="/cht/">繁體</a>
					<a class="btn btn-default btn-primary" href="/chs/">简体</a>
				</div>
			</div>
		</div>
	</body>
</html>
