<!DOCTYPE html>
<html lang="en" ng-app="ccacApp" ng-controller="SundayServiceController">
	<head>
		<!-- META -->
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/main/upload_sunday_service.css">

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower/angular/angular.min.js"></script>
		<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower/aws-sdk-js/dist/aws-sdk.min.js"></script>
		<script src="/bower/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
		<script src="/js/angular/lang/sunday_service_controller.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57284625-1', 'auto');
			ga('send', 'pageview');

		</script>			
		
	</head>
	<body>
		<div ng-init="congregation = '<%= congregation %>'" ></div>
		<div ng-init="init()" ></div>
		
		<div class="container">
			<div class="row">
				<h2><%= congregation %></h2>
			</div>

			<accordion close-others="oneAtATime" infinite-scroll="infiniteScroll()"  infinite-scroll-disabled="loading_api || no_more_result" > 
				<accordion-group ng-repeat="sermon in sermons" is-open="$first">
					<accordion-heading ng-click="isopen=!isopen">
						<div>
							<span>{{sermon.sermon_date}}</span>
							<span ng-if="sermon.title"> - {{sermon.title}}</span>
						</div>
					</accordion-heading>
					<div class="row" ng-if="sermon.sermon">
						<div class="col-md-4">
							<span>Sermon</span>
						</div>
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="openAudio(sermon)"><%= __('listen') %></button>
						</div>
					</div>
					<div class="row" ng-if="sermon.bulletin">
						<div class="col-md-4">
							<span>Bulletin</span>
						</div>
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="openDocs(sermon, 'bulletin')"><%= __('open') %></button>
						</div>
					</div>
					<div class="row" ng-if="sermon.ppt">
						<div class="col-md-4">
							<span>PowerPoint</span>
						</div>
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="openDocs(sermon, 'ppt')"><%= __('open') %></button>
						</div>
					</div>
					<div class="row" ng-if="sermon.life_group">
						<div class="col-md-4">
							<span>Life Group</span>
						</div>
						<div class="col-md-4">
							<button class="btn btn-default" ng-click="openDocs(sermon, 'life_group')"><%= __('open') %></button>
						</div>
					</div>
					<div style="clear: both;"></div>	
				</accordion-group>
			</accordion>
			
		</div>
	</body>
</html>
