<!DOCTYPE html>
<html lang="en" ng-app="ccacApp" ng-controller="CCACController">
	<head>
		<!-- META -->
		<title>Calgary Chinese Alliance Church</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/main/upload_sunday_service.css">

		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower/angular/angular.min.js"></script>
		<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower/aws-sdk-js/dist/aws-sdk.min.js"></script>
		<script src="/js/angular/main/s3_upload_controller.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-57284625-1', 'auto');
			ga('send', 'pageview');

		</script>			
		
	</head>
	<body>
		<div class="container">
			<div ng-init="s3_bucket = '<%= s3_bucket %>'" />
			<div ng-init="s3_region = '<%= s3_region %>'" />
			
			<div class="row">
				<h2>Sunday Service Upload</h2>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label>Congregation:</label> <select class="form-control" ng-model="congregation" ng-options="c for c in congregations"><option></option></select>
				</div>
				<div class="col-md-6">
					<label>Sermon Date:</label> 
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" 
						is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open_calendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Upload Sermon</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								Title: <input type="input" class="input-md text-center" placeholder="File name" ng-model="title" ></input>
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('title')">Upload Title</button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
					<form>
						<div class="form-group">
							<div class="row">
								File: <input name="file" type="file" file filetype="sermon" />
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('sermon')">Upload Sermon</button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Upload Bulletin</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								File: <input name="file" type="file" file filetype="bulletin" />
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('bulletin')">Upload Bulletin</button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Upload Life Group</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								File: <input name="file" type="file" file filetype="life_group" />
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('life_group')">Upload Life Group</button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Upload PowerPoint</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								File: <input name="file" type="file" file filetype="ppt" />
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('ppt')">Upload PowerPoint</button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Upload Inserts</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								File: <input name="file" type="file" file filetype="insert" />
							</div>
							<div class="row">
								<button type="submit" class="btn btn-primary btn-md" ng-click="upload('insert')" ng-disabled="true">Upload Insert </button> 
								Progress {{progress_value}} %
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<button class="btn btn-primary btn-md" ng-click="upload_all()" ng-disabled="true">Upload All</button>
<!--			<button class="btn btn-primary btn-md" ng-click="pull_logs()">Pull Logs</button>
-->
		</div>
	</body>
</html>
