<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<title>CCAC Admin</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta charset="UTF-8" />

		<!-- STYLE -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<img class="header-logo left" src="/img/logo.png" height="80" />
			</div>
		</nav>
