<div class="modal-header">
	<span>Confirm Sermon Delete</span>
</div>
<div class="modal-body">
	<div>
		<div class="row">
			<span>{{formData.sermon.sermon_date}}</span>
			<span ng-if="formData.sermon.title"> - {{formData.sermon.title}}</span>		
		</div>
		<p />
		<div class="row">
			<span ng-if="formData.str == 'all'">All content</span>
			<span ng-if="formData.str == 'sermon'">Sermon</span>
			<span ng-if="formData.str == 'bulletin'">Bulletin</span>
			<span ng-if="formData.str == 'ppt'">PowerPoint</span>
			<span ng-if="formData.str == 'life_group'">Life Group</span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="confirmDelete()">Delete</button>
	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
