<div class="modal-header">
	<span ng-if="modal == 'add'">Add Sermon</span>
	<span ng-if="modal == 'edit'">Edit Sermon</span>

	<button class="btn btn-primary right" ng-click="done()">Done</button>

</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<label>Congregation:</label> <select class="form-control" ng-model="congregation" ng-options="c for c in congregations"><option></option></select>
		</div>
		<div class="col-md-6">
			<label>Sermon Date:</label>
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt"
				is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open_calendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Upload Sermon</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						Title: <input type="input" class="input-md text-center" placeholder="File name" ng-model="title" ></input>
					</div>
					<div class="row">
						Speaker: <input type="input" class="input-md text-center" placeholder="File name" ng-model="speaker" ></input>
					</div>
					<div class="row">
						Bible Verses: <input type="input" class="input-md text-center" placeholder="File name" ng-model="bible_verses" ></input>
					</div>
					<div class="row">
						Sermon Series: <input type="input" class="input-md text-center" placeholder="File name" ng-model="sermon_series" ></input>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-md" ng-click="upload('title')">Upload Title</button>
						Progress {{progress_value}} %
					</div>
				</div>
			</form>
			<form>
				<div class="form-group">
					<div class="row">
						File: <input name="file" type="file" file filetype="sermon" />
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-md" ng-click="upload('sermon')">Upload Sermon</button>
						Progress {{progress_value}} %
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Upload Bulletin</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						File: <input name="file" type="file" file filetype="bulletin" />
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-md" ng-click="upload('bulletin')">Upload Bulletin</button>
						Progress {{progress_value}} %
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Upload Life Group</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						File: <input name="file" type="file" file filetype="life_group" />
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-md" ng-click="upload('life_group')">Upload Life Group</button>
						Progress {{progress_value}} %
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Upload PowerPoint</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<div class="row">
						File: <input name="file" type="file" file filetype="ppt" />
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary btn-md" ng-click="upload('ppt')">Upload PowerPoint</button>
						Progress {{progress_value}} %
					</div>
				</div>
			</form>
		</div>
	</div>

	<button class="btn btn-primary btn-md" ng-click="upload_all()" ng-disabled="true">Upload All</button>

</div>
<div class="modal-footer">
</div>
