<% include ./layout/header.html %>

<script src="/js/angular/content/calendars.js"></script>

<div class="container" ng-app="ccacAdminApp" ng-controller="CalendarsController">

<div ng-init="init()" ></div>

<% include ./sidebar.html %>

	<div class="sidepage">
		<h2 class="well">Calendars</h2>
		
		<div class="row">
			<button class="col-md-3 btn btn-primary" ng-click="addCalendar()">Add Calendar</button>
		</div>
		
		<br />

		<table class="table table-borderd table-hover">
			<tr>
				<th></th>
				<th>Type</th>
			</tr>
			<tr ng-repeat="calendar in calendars">
				<td>
					<span class="glyphicon glyphicon-pencil" ng-click="editCalendar(calendar)" ></span>
					<span class="glyphicon glyphicon-trash" ng-click="deleteCalendar(calendar)" ></span>
				</td>
				<td>{{calendar.type}}</td>
			</tr>
		</table>
		
	</div>
</div>

<% include ./layout/footer.html %>
