<% include ./layout/header.html %>

<script src="/js/angular/content/sermons.js"></script>

<div class="container" ng-app="ccacAdminApp" ng-controller="SermonsController">
<div ng-init="init()" ></div>

<% include ./sidebar.html %>

	<div class="sidepage">
		<h2 class="well">Sermons</h2>

		<div class="row">
			<button class="col-md-3 btn btn-primary" ng-click="addSermon()">Add Sermon</button>
		</div>
		
		<br />
		
		<tabset justified="true">
			<tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled" ng-click="getSermons(tab.title)">
				<tab-heading>
					<span ng-if="tab.id == 'english'">English</span>
					<span ng-if="tab.id == 'cantonese'">Cantonese</span>
					<span ng-if="tab.id == 'mandarin'">Mandarin</span>
				</tab-heading>

				<accordion close-others="oneAtATime"> 
					<accordion-group ng-repeat="sermon in sermons" is-open="$first">
						<accordion-heading ng-click="isopen=!isopen">
							<div>
								<span>{{sermon.sermon_date}}</span>
								<span ng-if="sermon.title"> - {{sermon.title}}</span>
							</div>
						</accordion-heading>
						<div class="row">
							<div class="col-md-4">
								<span>Edit Title</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-pencil" ng-click="editSermon(sermon)">Edit</button>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-4">
								<span>Remove All</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteSermon(sermon, 'all')">Remove All</button>
							</div>
						</div>
						<div class="row" ng-if="sermon.sermon">
							<div class="col-md-4">
								<span>Sermon</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteSermon(sermon, 'sermon')">Remove Sermon</button>
							</div>
						</div>
						<div class="row" ng-if="sermon.bulletin">
							<div class="col-md-4">
								<span>Bulletin</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteSermon(sermon, 'bulletin')">Remove Bulletin</button>
							</div>
						</div>
						<div class="row" ng-if="sermon.ppt">
							<div class="col-md-4">
								<span>PPT</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteSermon(sermon, 'ppt')">Remove PPT</button>
							</div>
						</div>
						<div class="row" ng-if="sermon.life_group">
							<div class="col-md-4">
								<span>Life Group</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteSermon(sermon, 'life_group')">Remove Life Group</button>
							</div>
						</div>
						<div style="clear: both;"></div>	
					</accordion-group>
				</accordion>
			</tab>
		</tabset>
		
	</div>
</div>

<% include ./layout/footer.html %>
